/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, button{
    height: 100%;
    font-size: 1.5rem;
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
}

.page {
    background-color: rgb(10, 43, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.outer {
    background-color: white;
    display: flex;
}

p {
    padding: 20px;
    font-weight: bold;
    overflow: normal;
}

a.creditlink{
    font-size: .8rem !important;
    color: rgba(255, 255, 255, 0.575) !important;
}

a.creditlink:visited{
    font-size: .8rem !important;
    color: rgba(255, 255, 255, 0.575);
}

a {
    color:rgb(61, 197, 61);
}

a:visited {
    color:rgb(10, 43, 10);
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-width: 700px;
    box-sizing: border-box;
}

.house {
    width: 400px;
    height: 100vh;
    background-image: url(pics/anton-luk-sWnJbUaOkbI-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.house div {
    background-color: rgba(0, 0, 0, 0.527);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.house img {
    height: 100px;
    align-self: center;
}

.textbox {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 1;
}

.form {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

label{
    margin-bottom: -15px;
    margin-left: 5px;
    font-size: .8rem;
    color: rgb(5, 22, 10);
    font-family: 'Courier New', Courier, monospace;
}

.lets{
    padding-left: 35px;
    align-self: flex-start;
}

.box {
    padding: 5px;
    margin: 5px;
    width: 275px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 35px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 100%;
}

.row:nth-child(4){
    margin-bottom: 3px;
    box-shadow: 0 4px 2px -2px gray;
    width: 100%;
}

.row:nth-child(5){
    background-color: white;
    padding-bottom: 10px;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border-radius: 8px;
    box-shadow: 20px;
}

.submit{
    margin-top: 40px;
    width: 10rem;
    height: 4rem;
    color: white;
    background-color: green;
    border-radius: 10%;
    border: 0;
}

.submit:hover {
    background-color: rgb(61, 197, 61);
    cursor: pointer;
}

.account {
    width: 100%;
    box-sizing: border-box;
}

.credit {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.575);
    position: absolute;
    bottom: 0px;
    right: 5px;
}

@media screen and (max-width: 850px) {
    html{
        padding: 0;
        margin: 0;
    }
    .credit, a.creditlink{
        font-size: 10px !important;
    }
    .outer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
    .body{
        max-width: 100%;
    }
    p{
        text-align: center;
    }
    .row{
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row:nth-child(4){
        padding-bottom: 20px;
    }
    .lets{
        align-self: center;
    }
    .submit{
        margin-top:20px;
    }
    .textbox{
        width: 100%;
        min-height: 180px;
        align-items: center;
    }
    .house {
        width: 100vw;
        background-image: url(pics/anton-luk-sWnJbUaOkbI-unsplash.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }
    .house div {
        background-color: rgba(0, 0, 0, 0.527);
        height: 100px;
        width: 100%;
        padding: 0;
        display: flex;
    }
    
    .house img {
        height: 100px;
        align-self: center;
    }
}

@media screen and (max-width: 463px) {
    .textbox{
        min-height: 280px;
    }
    .house div {
        background-color: rgba(0, 0, 0, 0.527);
        height: 100px;
        width: 100%;
        padding: 0;
        display: flex;
    }
}